@(title: String)(content: Html)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Diztorted Dimension crew"/> 
<meta name="copyright" content="&#169; 2007-2008, Diztorted Dimension crew"/> 
<meta name="keywords" content="рецензии, афиша, интервью, статьи, лэйбл, metal, андеграунд, underground, тяжелая сцена, экстремальная сцена, экстрим, метал, ug, noise, ambient, Россия, снг, black, death, thrash, modern, doom, folk, viking, pagan"/>		
<meta name="description" content="Diztorted Dimenstion: андеграунд как самопреодоление в постмодерне. Новости андеграунда, рецензии, интервью, статьи. Музыка в mp3 и видео"/>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")" type="image/vnd.microsoft.icon" />
<title>@title &mdash; Diztorted Dimension: андеграунд как самопреодоление в постмодерне</title>
</head>
<body>
	<div class="all">
		<div class="top">
			<div class="diztorted">
				[&#160;<a href="javascript:window.external.AddFavorite('http://www.diztorted.ru','Diztorted%20Dimension:%20андеграунд%20как%20самопреодоление%20в%20постмодерне')">Добавить&#160;в&#160;закладки</a>&#160;]&#160;[&#160;<a href="mailto:fox@@diztorted.ru,valentii@@diztorted.ru?subject=diztorted_news">Прислать&#160;новость</a>&#160;]
			</div>
		</div>
		<div class="cookie">
			Андеграунд как самопреодоление в постмодерне
		</div>
		<div class="sitenews">
			@controllers.SiteInfo.noveltyInfo()
		</div>			
		<div class="left">
			<div class="nav">
				<img class="borderless" src="@routes.Assets.at("images/nav.jpg")" width="202" height="329" alt="Навигация по сайту" usemap="#navigation" />
				<map name="navigation" id="navigation">
					<area shape="rect" coords="0,62,201,85" href="news.php" alt="Новости" />  
					<area shape="rect" coords="0,86,201,109" href="announces.php" alt="Афиша" />
					<area shape="rect" coords="0,110,201,133" href="shop.php" alt="Магазин" />
					<area shape="rect" coords="0,134,201,157" href="articles.php" alt="Статьи" />
					<area shape="rect" coords="0,158,201,181" href="reviews.php" alt="Рецензии" />
					<area shape="rect" coords="0,182,201,205" href="interviews.php" alt="Интервью" />
					<area shape="rect" coords="0,206,201,229" href="music.php" alt="Музыка" />
					<area shape="rect" coords="0,230,201,253" href="forum/" alt="Форум" />
					<area shape="rect" coords="0,254,201,277" href="links.php" alt="Ссылки" />
					<area shape="rect" coords="0,278,201,301" href="contacts.php" alt="Контакты" />
				</map>
			</div>
			<div class="quickback">
				@controllers.SiteInfo.lastAnnounces()
			</div>
			<div class="quickback">
				@controllers.SiteInfo.lastReviews()
			</div>
			<div class="quickback">
				@controllers.SiteInfo.friends()
			</div>
			<!-- 
			<div class="w3c">
				<p>
				<a href="http://validator.w3.org/check?uri=referer">
					<img class="borderless" src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
				</a>
				</p>
				<p>
					<a href="http://jigsaw.w3.org/css-validator/">
					<img class="borderless" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" height="31" width="88" alt="Valid CSS!" />
					</a>
				</p>
			</div>
			 -->
		</div>
		<div class="main">
			@content
			<p class="centersmall"><a href="javascript:history.back(1)">Назад</a></p>
		</div>
		<div class="copyright">
			@controllers.SiteInfo.summaryInfo()
		</div>
	</div>
	<script type="text/javascript" language="JavaScript" src="js/misc.js"/>
	<!-- Yandex.Metrika counter -->
	<div style="display:none;">
	    <script type="text/javascript">
		(function(w, c) {
		    (w[c] = w[c] || []).push(function() {
	        	try 
	        	{
	                    w.yaCounter9530863 = new Ya.Metrika({id:9530863, enableAll: true});
	        	}
	        	catch(e) { }
	            });
	        })(window, "yandex_metrika_callbacks");
	    </script>
	</div>
	<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
	<noscript><div><img src="//mc.yandex.ru/watch/9530863" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>